.pt-icon {
    width: 32px;
    height: 32px;
    background: url('/assets/images/pt-logo-32.svg') no-repeat 100%;
}

.pt-icon_big {
    width: 64px;
    height: 64px;
    background: url('/assets/images/pt-logo-64.svg') no-repeat 100%;
}
