@import './styles/variables';
@import './styles/fonts';

@import '~@ptsecurity/mosaic/visual.scss';
@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons.css';

@include mosaic-visual();

@import './styles/common';
@import './styles/default-theme/theme';

$typography: mc-typography-config();

// Include all typography for the components.
@include mc-core($typography);

@mixin app-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    background: mc-color($background, background);
    color: mc-color($foreground, text);

    @include mosaic-theme($theme);
}

.theme-default {
    &.active-blue {

        // Include all theme styles for the mosaic components.
        @include app-theme($default-light-theme);
    }
}
