@import '~@ptsecurity/mosaic/visual';
@import '~@ptsecurity/mosaic-icons/dist/styles/mc-icons.css';

@import 'styles/font';

@import 'app/app.theme';

body,
.theme-wrapper {
    margin: 0;
    padding: 0;
}

.theme-wrapper {
    width: 100%;
    height: 100vh;
}
