@import '~@ptsecurity/mosaic/theming';

// Custom typography
$typography: mc-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $display-1: mc-typography-level(20px, 32px, 600),
    $body-caps: mc-typography-level(14px, 24px, 600),
    $caption: mc-typography-level(14px, 14px, 600),
    $small-text: mc-typography-level(16px, 1.125, 400)
);

// Setup the typography
@include mosaic-typography($typography);
@include mosaic-visual();

@include cdk-a11y();
@include cdk-overlay();

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
// @import 'path/to/component/component-name.theme';

@import '~libs/feature/welcome/src/lib/welcome-table/_welcome-table-theme';

@mixin app-components-theme($theme) {
     @include welcome-table-theme($theme);
}

@mixin app-components-typography($typography) {
    // @include welcome-table-typography($typography);
}

// -----------------------------------------------------------------------------------------------------
// @ Global App theming
// -----------------------------------------------------------------------------------------------------

@import '../styles/theme-default';
@import '../styles/theme-dark';
@import '../styles/theme-green';

.theme-default {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    background-color: mc-color($background, background);
    color: mc-color($foreground, text);

    @include mosaic-theme($theme);
    @include app-components-theme($theme);
    @include app-components-typography($typography);
}

.theme-dark {

    $background: map-get($dark-theme, background);
    $foreground: map-get($dark-theme, foreground);

    background-color: mc-color($background, background);
    color: mc-color($foreground, text);

    @include mosaic-theme($dark-theme);
    @include app-components-theme($dark-theme);
    @include app-components-typography($typography);
}

.theme-green {

    background-color: mc-color($green-primary, 100);
    color: mc-color($green-primary, 800);

    @include mosaic-theme($green-theme);
    @include app-components-theme($green-theme);
    @include app-components-typography($typography);
}
